@import styles/variables.sass
@import ~include-media/dist/_include-media.scss

.footerLogo
  width: 100px
  margin: 0 auto
  @include media(">=iphone6Plus")
    width: 120px
  @include media(">=bigPhone")
    width: 100px
    margin: 0 0
